@import "all";
@import "_responsive";
@import "header";

//COLORS
$base-color: #E88F2A;
$white: #fff;
$black: #000;
$creamy: #FAF3EB;

//FONT
$poppins : 'Poppins',
sans-serif;

* {
	margin: 0;
	padding: 0;
	border: 0;
	vertical-align: baseline;
	background: transparent;
	font-weight: normal;
	text-decoration: none;
	outline: none;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html {
	scroll-behavior: smooth;
	overflow-x: hidden;
}

ol,
ul {
	list-style: none;
}

body {
	overflow-x: hidden;
	font-size: 16px;
	font-weight: 600;
	overflow-x: hidden;
	min-width: 320px;
	font-family: $poppins;
	background-color: #f4f5f7;
}

p {
	line-height: 1.6em;
	font-size: 16px;
	font-weight: 400;
}

.wrapper {
	width: 80%;
	margin: 0 auto;
}

img {
	width: 100%;
	height: 100%;
	display: block;
}



a.for-whatsapp-image {
	z-index: 9;
}

.img-container {
	position: fixed;
	bottom: 20px;
	right: 30px;
	width: 60px;
	height: auto;
	animation: floating 3s ease-in-out infinite;
}

.floating {
	animation-name: floating;
	animation-duration: 3s;
	animation-iteration-count: infinite;
	animation-timing-function: ease-in-out;
	margin-left: 30px;
	margin-top: 5px;
}

@keyframes floating {
	0% {
		transform: translate(0, 0px);
	}

	50% {
		transform: translate(0, 15px);
	}

	100% {
		transform: translate(0, -0px);
	}
}

.img-container img {
	max-width: 100%;
	height: auto;
}





@media all and (max-width:480px) {
	.img-container {
		width: 40px;
	}
}

@media all and (max-width:320px) {
	.img-container {
		bottom: 20px;
		right: 10px;
	}
}